In [2]:
# Render our plots inline
%matplotlib inline

import numpy as np
import math
import pandas as pd

In [3]:
birthrate = pd.read_csv("birth_final_cat.csv")

In [8]:
birthrate['first_child_gender'].replace(2,0,inplace=True)

In [9]:
birthrate[:3]

,domain,wealth,age,age_when_married,school,class,working,tv,asha,born_place,want_child,method,died,birth,first_child_gender,children_away,boys_died,girls_died
0,1,1,38.0,17.0,0.0,0.0,1.0,1.0,1.0,2.0,0.0,1.0,0,2.0,0.0,1.0,0.0,0.0
1,1,2,26.0,13.0,1.0,2.0,0.0,1.0,1.0,2.0,0.0,1.0,0,2.0,1.0,0.0,0.0,0.0
2,1,3,34.0,13.0,1.0,4.0,0.0,1.0,0.0,1.0,0.0,0.0,0,3.0,0.0,1.0,0.0,0.0

In [10]:
birthrate['born_place'] = birthrate['born_place'].astype('category')
birthrate['domain'] = birthrate['domain'].astype('category')

In [11]:
birthrate = pd.get_dummies(birthrate)

In [12]:
birthrate.to_csv("birth_stat_data.csv", index=False)