In [42]:
# Render our plots inline
%matplotlib inline

import math
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
birthrate = pd.read_csv("birthrate_modified.csv")

In [44]:
birthrate['division'] = birthrate['division'].astype('category')
birthrate['domain'] = birthrate['domain'].astype('category')

In [45]:
birthrate = pd.get_dummies(birthrate)

In [46]:
birthrate.dtypes

wealth          int64
age           float64
school        float64
class         float64
working       float64
newspaper     float64
tv            float64
asha          float64
grameen       float64
mclub         float64
born          float64
more          float64
method        float64
died            int64
birth         float64
division_1      uint8
division_2      uint8
division_3      uint8
division_4      uint8
division_5      uint8
division_6      uint8
division_7      uint8
domain_1        uint8
domain_2        uint8
domain_3        uint8
dtype: object

In [47]:
birthrate[:10]

,wealth,age,school,class,working,newspaper,tv,asha,grameen,mclub,...,division_1,division_2,division_3,division_4,division_5,division_6,division_7,domain_1,domain_2,domain_3
0,1,38.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
1,2,26.0,1.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
2,3,34.0,1.0,4.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
3,2,38.0,1.0,7.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
4,1,49.0,1.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
5,1,26.0,1.0,10.0,0.0,1.0,1.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
6,2,20.0,1.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
7,2,30.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
8,2,28.0,1.0,5.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
9,3,38.0,1.0,9.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0

In [48]:
birthrate.to_csv("birthrate_norm.csv", index=False)